.searchBar{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.searchForm{
  position: relative;
  display: flex;
}

.resetSearchButton{
  position: absolute;
  top: 2px;
  left: 170px;
  border: none;
  background: none;
  font-weight: 700;
  transition: 0.25s;
}

.resetSearchButton:disabled{
  opacity: 0;
}