.navBar {
  position: sticky;
  background-color: rgb(255, 222, 0);
  top: 0;
  left: 0;
  width: 100%;
  height: 59px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.homeIcon {
  position: absolute;
  width: 35.67px;
  height: 32px;
  left: 56px;
  top: 13px;
}

.formIcon {
  position: absolute;
  width: 29px;
  height: 32px;
  left: 121px;
  top: 13px;
}
