.navBar{
  display: flex;
  background-color: rgb(255, 222, 0);
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-height: 12vh;
}

.links{
  text-decoration: none;
  color: white;
}

.navBarLinks{
  margin-left: 8px;
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  z-index: 1;
  background: #FF0000;
  position: relative;
  font-weight: 700;
  font-size: 17px;
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
}

.navBarLinks::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #CC0000;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
}

.navBarLinks:hover {
  color: #e8e8e8;
}

.navBarLinks:hover::before {
  width: 100%;
}